<div style="margin: 20px;" class="card card-info card-outline mb-4 h-100"> <!--the h-100 makes the card go over the footer-->
  <div class="card-header d-flex justify-content-between align-items-center">
    <div class="card-title"><strong>Your Conversations</strong></div>
  </div>

  <div class="card-body">
    <div *ngIf="chats.length">
      <ul class="list-group">
        <li *ngFor="let chat of chats" class="list-group-item">
          <strong>Order ID: {{ chat.order.id }}</strong> - <small>{{ chat.buyerName }} </small>
          <a (click)="navigateToChatRoom(chat.id)" class="btn btn-info btn-sm float-right">Open Chat</a>
        </li>
      </ul>
    </div>
    <div *ngIf="chats.length === 0">
      <p class="text-muted">No active chats found.</p>
    </div>
  </div>
</div>

