<div class="card card-info card-outline mb-4 h-100">
  <div class="card-header">
    <div class="card-title"><strong>{{ product.name }}</strong></div>
  </div>

  <div class="card-body h-90 d-flex flex-column justify-content-between">
    <div class="row h-100">
      <div class="col-md-6 text-center d-flex align-items-center">
        <img [src]="'assets/default-image.jpg'" class="img-fluid rounded product-image" alt="{{ product.name }}" />
      </div>

      <div class="col-md-6 d-flex flex-column justify-content-between">
        <div class="row h-100">

          <div class="col-md-6">
            <label class="form-label"><strong>Name</strong></label>
            <input type="text" class="form-control" [(ngModel)]="product.name" />
          </div>

          <div class="col-md-6">
            <label class="form-label"><strong>Size</strong></label>
            <input type="text" class="form-control" [(ngModel)]="product.size" />
          </div>

          <div class="col-md-6">
            <label class="form-label"><strong>Price</strong></label>
            <input type="number" class="form-control" [(ngModel)]="product.price" />
          </div>

          <div class="col-md-6">
            <label class="form-label"><strong>Quantity</strong></label>
            <input type="number" class="form-control" [(ngModel)]="product.numberOfProducts" />
          </div>

          <div class="col-12">
            <label class="form-label"><strong>Description</strong></label>
            <input type="text" class="form-control" [(ngModel)]="product.description" />
          </div>

          <div class="col-12">
            <div class="col-md-6">
              <app-category-selector
              [categories]="categories"
              [product]="product">
              </app-category-selector>
            </div>

          </div>

        </div>
      </div>

    </div>
  </div>

  <div class="card-footer">
    <button class="btn btn-info" (click)="EditProduct()">Save Changes</button>
  </div>
</div>
