<!--begin::Form Validation-->
<div class="card card-info card-outline mb-4">
  <!--begin::Header-->
  <div class="card-header">
    <div class="card-title">Create Product</div>
<!--end::Header-->

<!--Error notification-->
  </div><div class="card-body">
    <app-error-notification
    [title]="'An Error Occured'"
    [message]="'Unable to create the product.'"
    [isVisible]="displayError"
    >
  </app-error-notification></div>


  <!--begin::Form-->
  <form class="needs-validation" [formGroup]="productForm" (ngSubmit)="CreateProduct()">
    <div class="card-body">
      <div class="row g-3">

        <div class="col-md-6">
          <label for="name" class="form-label">Image</label>
          <input type="file" class="form-control" id="image" (change)="onImageSelected($event)" required />
          <div class="invalid-feedback" *ngIf="!imageFile">Please select an image.</div>
          <div class="invalid-feedback" *ngIf="required('image')">Please select an image.</div>
        </div>

        <div class="col-md-6">
          <label for="name" class="form-label">Name</label>
          <input type="text" class="form-control" id="name" formControlName="name" required />
          <div class="invalid-feedback" *ngIf="required('name')">Please enter a name.</div>
        </div>

        <div class="col-md-6">
          <label for="description" class="form-label">Description</label>
          <input type="text" class="form-control" id="description" formControlName="description"required/>
        </div>

          <div class="col-md-6">
            <div class="invalid-feedback" *ngIf="productForm.untouched || productForm.get('categories')?.touched">
              At least one category must be selected.
            </div>

            <app-category-selector
            name="categories"
            required
            [categories]="categories"
            [product]="product">
            </app-category-selector>
          </div>

        <div class="col-md-6">
          <label for="size" class="form-label">Size</label>
          <input type="text" class="form-control" id="size" formControlName="size" required />
          <div class="invalid-feedback" *ngIf="required('size')">Please enter a size.</div>
        </div>

        <div class="col-md-6">
          <label for="price" class="form-label">Price</label>
          <input type="number" step="0.01" class="form-control" id="price" formControlName="price" required/>
          <div class="invalid-feedback" *ngIf="required('price')">Please enter a price.</div>
        </div>

      </div>
    </div>

    <div class="card-footer">
      <button class="btn btn-info" type="submit" >Create</button>
    </div>

  </form>
  <!--end::Form-->
